.card {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;

  &_a {
    grid-row: 1/3;
  }

  &_b {
    align-items: end;
  }

  &_b &_img {
    margin-bottom: -38px;
  }

  &_c &_img {
    margin-bottom: 10px;
  }

  &_d {
    grid-column: 2/4;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  &_d &_p {
    max-width: 330px;
  }

  &_img {
    margin-bottom: 27px;
  }

  &_d &_img {
    margin-bottom: 0;
  }

  &_text-block {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
  }

  &_p {
    @include text();
    color: $col-grey;
    margin-bottom: 35px;
  }
}

.text-wrap {
  flex-grow: 1;
}